<div layout="row" layout-align="center start">
    <div layout="column" layout-align="start center" flex="60">
        <h3 style="color:#2196f3;">Welcome to Project Apollo!</h3>
        <p>Welcome to Apollo schedule generator</p>
        <p>Want to plan out your upcoming schedule at Concordia University? Apollo allows you to choose whichever courses you wish to take and generates all the possible sequences available for you. Want to take only evening courses or want to have your Fridays off? Apollo allows you to tailor your preferences to what you want and displays schedules that follow these constraints</p>
        <p>No need to fiddle with your schedule any longer! Apollo has you covered!</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0zGxza7LCEY" frameborder="0" allowfullscreen></iframe>
    </div>
</div>